<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		* {
  box-sizing: border-box;
  color: white;
  font-family: Arial;
  margin: 0px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 150px; 
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  width: 35%;
   padding-right: 35px;
}

.right {
  width: 65%;
}

li,p,b,i{

	color:#333f4f;
  font-size: 9px;
}

#font{

  font-size: 9px;
}



	</style>


</head>
<body>
		<div align="center" style=" border-style: solid; border-color:#D4AF37;   height:150px; padding-top: 25px; " class="row">

				<h1 style="color:#278bb9"><%= personer.firstname.toUpperCase() + "  "+ personer.surname.toUpperCase()  %></h1>
				<br>
				<p style="color:#D4AF37"><%= personer.occupation.toUpperCase() %></p>

		</div>

  		<div class="row">
  <div class="column left" style="background-color:#fff; color:#241601;  ">
  	
  	<div  style=" padding-left:10px; height: 1100px;">
  		<br>

  		<div >


  			<h4 style="padding: 10px; color:#278bb9; background-color: #bfe2f1; word-wrap: break-word;">CONTACT</h4>
  			<p id="font" >&#128241; &nbsp; <%= personer.phoneNumber %></p>
  			<br>
  			<p id="font" style="word-wrap: break-word;"> &#9993; &nbsp; <%= personer.email %></p>
  			<br>
  			<p id="font" style="word-wrap: break-word;">&#128234; &nbsp; <%= personer.address %></p>
  			<br>

  			<div>

		<h4 style="padding: 10px; color:#278bb9; background-color: #bfe2f1 " >EDUCATION</h4>

				<% education.values.education.forEach(function(item) { %>
				<div style="padding-bottom: 1px;">
  				<p id="font"><b><%= item.schoolName %></b></p>
			<p id="font" style="margin-top: 0px;"><i><%= item.fieldOfStudy %> </i></p>
			<p id="font"><b><%= item.startDate %> - <%= item.gradDate %></b></p>
			
  			</div>
  					<br>
  			 <% }); %>
	</div>
	
	<br>
  		<h4 style="padding: 10px; color:#278bb9; background-color: #bfe2f1 " >SKILL</h4>
  			

  		</div>
  		
  		<br>
  		<p id="font"><%= quality.qualities %></p>
	<br>
	
	




  	</div>
    
  </div>
  <div class="column right" style="background-color:#fff; ">

  	<br>

  	<div >

  			<table>
    				<tr style="height: 20px;" >
    					
    					


    					<td style="border-left: 1px solid black; padding-left: 15px;">
    						
    							<h3 style=" padding: 10px; width: 300px; color:#278bb9; background-color: #bfe2f1">ABOUT ME </h3>
    								<br>
    					
  				<p id="font"><%= profiler.profile %></p>
  	

    					</td>
    					

    				</tr>

    			</table>
  	</div>

  	<div>
  		

  		<table>
    				
  				<tr style="height: 20px;" >
  					<br>
    					<td style="border-left: 1px solid black; padding-left: 15px;">
    						
    							<h3 style="padding: 10px; width: 300px; color:#278bb9; background-color: #bfe2f1">EXPERIENCE </h3>
    								<br>
    								<% experiences.values.work.forEach(function(item) { %>
    					<div>

			  			<p id="font"> <b><%= item.position.toUpperCase() %></b></p>
			  			<p id="font" style="margin-top: 0px; float: right;"><b><%= item.jstartDate %> -   <%= item.jendDate %></b></p>
			  			<p id="font"> <b><%= item.employer %></b></p>

			  			<div id="font">
			                <%- item.jdescription  %>
			            </div>
						
						
					</div>
					<br>
				 <% }); %>

    						</td>
    					

    				</tr>

    			</table>


  	</div>



  		<div>
  		

  		<table>
    				
  				<tr style="height: 20px;" >
  					<br>
    					<td style="border-left: 1px solid black; padding-left: 15px;">
    						
    							<h3 style="padding: 10px; width: 300px; color:#278bb9; background-color: #bfe2f1">REFERENCE </h3>
    								<br>
    											<% reference.values.refree.forEach(function(item) { %>
							<div>
				  				<p id="font"><b><%= item.referent %>, <%= item.company %></b></p>
							<p id="font" style="margin-top: 0px;"><i><%= item.occupation %></i></p>
							<p id="font" style="margin-top: 0px;">Email: <%= item.email %></p>
				  			</div>

				  					<br>

				  			<% }); %>	

    						</td>
    					

    				</tr>

    			</table>


  	</div>

  
  </div>
</div>






</body>
</html>