<html>
<head>
	<title>   </title>
	<style type="text/css">
		* {
  box-sizing: border-box;
  		font-family: Arial;
}

@font-face {
  font-family: serif;
  src: url('http://fonts.googleapis.com/css?family=Droid+Serif');
}

    body{
      font-family: serif;
    }
		.column {
  float: left;
  padding: 10px;
  height: 1100px; /* Should be removed. Only for demonstration */
}

.left {
  width: 35%;
}

.right {	
  width: 65%;
}

p, li , td{

      font-size: 9px;
      font-family: serif;
    }




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

	</style>
</head>
<body>
	

	<div class="row">
  		<div class="column left" style="background-color:#f4f4f4;">
  			<h6 style="margin-top:80px">INFO</h6>
  			<hr>
    			<table>
    				<tr style="height: 50px;" >
    					<td><b>Address </b></td>
    					<td style="padding: 10px; word-wrap: break-word;"><%= personer.address %></td>

    				</tr>

    				<tr>
    					<td><b>Phone </b></td>
    					<td style="padding: 10px; word-wrap: break-word;"> <%= personer.phoneNumber %> </td>

    				</tr>

    				<tr>
    					<td style="padding: 10px; word-wrap: break-word;"><b>Email </b></td>
    					<td>  <%= personer.email %></td>

    				</tr>

    			</table>
    		
    		<br>

    	

    		<h6 style="margin-top:40px">SKILLS</h6>
  			<hr>
          <p style="font-size: 9px;"><%= quality.qualities %></p>

  		</div>

  		<div class="column right" style="padding-left: 10px;" >
  			<div align="center">

  				<h3><%= personer.firstname + "  "+ personer.surname  %></h3>
    			<p><%= personer.occupation.toUpperCase() %></p>
  			</div>

          <br><br>
  			<h6 style="margin-top:-23px">PROFILE</h6>
  			<hr style="margin-top: -3px;">
  			<p>
  				<%= profiler.profile %>
  			</p>



  			<h6>EMPLOYMENT HISTORY</h6>
  			<hr style="margin-top: -15px;">

        <% experiences.values.work.forEach(function(item) { %>
  			<div style="padding-bottom: 20px;">

  			<p> <b><%= item.position %> , <%= item.employer %></b></p>
			     <p style="margin-top: -10px;"> <%= item.jstartDate %> -   <%= item.jendDate %></p>
			     <div style="margin-top: -10px;">
                <%- item.jdescription  %>
            </div>
	     	</div>

     <% }); %>

			

			<h6>EDUCATION</h6>
  			<hr style="margin-top: -15px;">

        <% education.values.education.forEach(function(item) { %>
  			<div>

  				<p><b><%= item.schoolName %></b></p>
			<p style="margin-top: -10px;"><i><%= item.fieldOfStudy %> </i></p>
			<p style="margin-top: -10px;"><b><%= item.startDate %> -- <%= item.gradDate %></b></p>
  			</div>

        <% }); %>


  			<h6>REFERENCE</h6>
  			<hr style="margin-top: -15px;">

        <% reference.values.refree.forEach(function(item) { %>

  			<div>
  				<p><b><%= item.referent %>, <%= item.company %></b></p>
			<p style="margin-top: -10px;"><i><%= item.occupation %></i></p>
			<p style="margin-top: -10px;"><b>Tel: <%= item.phone %></b></p>
  			</div>

        <% }); %>

  			


    			
  		</div>

	</div>

</body>
</html>
