<!DOCTYPE html>
<html>
<head>
	<title>Template 1</title>

	<style type="text/css">

		@font-face {
  font-family: Lato;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
}			
		*{
  				font-family: Lato;
			}

		.row{

			display: flex;

		}

		.column{

			flex:50%;

		}

		body{
			font-family: Lato;
		}

		h3 {
				color: #259ceb;
				font-family: Lato;
			}

			li,p,b,i{
				font-family: Lato;
  				font-size: :9px;

			}

			td{
  font-size: 12px;
  font-family: Lato;
}
h3{
  font-family: Lato;  
}

#font{
  font-size: 9px;
}

	</style>
</head>
<body>

	<div style="margin-left: 15px; margin-right: 15px;">
	<div style="float: right; margin-top: -5px">
	
	<p>personer.address<p>
	<p><%= personer.email %></p>
	<p><%= personer.phoneNumber %> </p>
	</div>
	<h1><%= personer.firstname %> </h1>
	<h1 style="color:#259ceb" ><%= personer.surname  %> </h1>

	<hr style="height:3px; background-color: black;">

	<div>
	<h4>Objectives</h4>
	<p id="font"><%= profiler.profile %></p>
	<h4>Skills</h4>
	
			<p id="font"><%= quality.qualities %></p>
	</div>

	<hr style="height:3px; background-color: black;">
	<h4>Proffesional Experience</h4>
	
	<div class="row" style=" margin-top:25px;">
		
	   <% experiences.values.work.forEach(function(item) { %>

		<div class="column">
			<p id="font" style="margin-top: -10px;"> <b><%= item.position %></b> , <i><%= item.employer %></i></p>
		
			<p id="font" style="margin-top: -10px;"> <%= item.jstartDate %> -   <%= item.jendDate %></p>
	
			<div id="font" style="margin-top: -10px;">
                <%- item.jdescription  %>
             </div>
			
		</div>
		<br> 
		 <% }); %>

	</div>


	<hr style="height:3px; background-color: black;">
	<h4>Certification</h4>
	
	<div class="row" style=" margin-top:25px;">

		<% education.values.education.forEach(function(item) { %>

		<div class="column" >
			<p id="font" style="margin-top: -10px;"><b><%= item.schoolName %></b></p>
			<p id="font" style="margin-top: -10px;"><i><%= item.fieldOfStudy %> </i></p>
			<p id="font" style="margin-top: -10px;"><%= item.startDate %> -- <%= item.gradDate %></p>
			
		</div>

		<br>

	  <% }); %>
	</div>

	<hr style="height:3px; background-color: black;">
	<h4>References</h4>
	
	<div class="row" style="margin-top: 25px;">

		<% reference.values.refree.forEach(function(item) { %>
		<div class="column">
			<p id="font" style="margin-top: -10px;"><b><%= item.referent %>, <%= item.company %></b></p>
			<p id="font" style="margin-top: -10px;"><i><%= item.occupation %></i></p>
		<p id="font" style="margin-top: -10px;">Tel: <%= item.phone %></p>
			
		</div>

		<br>

		  <% }); %>

	</div>

  </div>


</body>
</html>