<html>
<head>

	<style type="text/css">

		@font-face {
  font-family: serif;
  src: url('http://fonts.googleapis.com/css?family=Droid+Serif');
}
		*{
			font-family: serif;
		}	
		.row{

			display: flex;

		}

		.column{

			flex:50%;

		}

		p, li{

			font-size: 9px;
			font-family: serif;
		}

		body{
				margin-left: 10px;
				margin-right:10px;

				font-family: serif;

		}

		h6{
				
					line-height: 0px;
					margin-top: 15px;
					margin-bottom: 15px;
		}

	</style>
</head>
<body>
	<div  style="margin-left: 30px; margin-right: 30px; margin-top: 10px;">

	<div>
	<h2><%= personer.firstname + "  "+ personer.surname  %></h2>

	<p style="font-size: 9px;"><%= personer.address %><p>

	<p style="margin-top: -15px; font-size: 9px;"><%= personer.phoneNumber + " "+   personer.email %></p>
	</div>
	<hr style="height:1px; background-color: rgb(0, 0, 0);">

	<div>
	<h6>OBJECTIVES</h6>
	<p style="font-size: 9px;"><%= profiler.profile %></p>
	<h6>SKILLS</h6>
	
		
		<p style="font-size: 9px;"><%= quality.qualities %></p>

	</div>

	<hr style="height:1px; background-color: black;">
	<h6>PROFESSIONAL EXPERIENCE</h6>
	<hr style="height:1px; background-color: black;">
	<div class="row" style=" margin-top:25px;">


	   <% experiences.values.work.forEach(function(item) { %>

		<div class="column">
			<p style="margin-top: -10px;"> <b><%= item.position %></b> , <i><%= item.employer %></i></p>
		
			<p style="margin-top: -10px;"> <b><%= item.jstartDate %> -   <%= item.jendDate %></b></p>
	
			<div style="margin-top: -10px;">
                <%- item.jdescription  %>
             </div>
			
		</div>
		<br> 
		 <% }); %>


	</div>


	<hr style="height:1px; background-color: black;">
	<h6>CERTIFICATIONS</h6>
	<hr style="height:1px; background-color: black;">
	<div class="row" style=" margin-top:25px;">



		<% education.values.education.forEach(function(item) { %>

		<div class="column" >
			<p  style="margin-top: -10px;"><b><%= item.schoolName %></b></p>
			<p  style="margin-top: -10px;"><i><%= item.fieldOfStudy %> </i></p>
			<p  style="margin-top: -10px;"><b><%= item.startDate %> -- <%= item.gradDate %></b></p>
			
		</div>

		<br>

	  <% }); %>


	</div>

	<hr style="height:1px; background-color: black;">
	<h6>REFERENCES</h6>
	<hr style="height:1px; background-color: black;">
	<div class="row" style="margin-top: 25px;">

			

	<% reference.values.refree.forEach(function(item) { %>
		<div class="column">
			<p style="margin-top: -10px;"><b><%= item.referent %>, <%= item.company %></b></p>
			<p style="margin-top: -10px;"><i><%= item.occupation %></i></p>
			<p style="margin-top: -10px;"><b>Tel: <%= item.phone %></b></p>
			
		</div>

		<br>

		  <% }); %>

	


	</div>
</div>




</body>
</html>