<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    
    * {
  box-sizing: border-box;
  font-family: Arial;
 
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;

  height: 100px; /* Should be removed. Only for demonstration */
 
}

.left {
  width: 35%;
   padding-right: 35px;
}

.right {
  width: 65%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img.left{

  float: left;
  
  margin-top: -60px;
  margin-left: 30px;
}

.avatar {
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.heading {

  color: #259ceb
}
p,b,i,div{

  font-size: 9px;
}

#font{

  font-size: 9px;
}


  </style>
</head>
<body>
      

      <div class="row">
  <div class="column left" style="background-color:#fff; color:#241601; ">
    
    <div  style="background-color: #bba689c9; height: 1100px;">
      <br>

      <div align="center">

        <img src="kutlo.jpg" alt="Avatar" class="avatar">

        <h4 style="padding: 10px; background-color:#241601; color:#fff; ">CONTACT</h4>
        <p><b>Phone</b></p>
        <p style="word-wrap: break-word;"><%= personer.phoneNumber %></p>
        <p ><b>Email</b></p>
        <p style="word-wrap: break-word;"><%= personer.email %></p>
        <p><b>Address</b></p>
        <p style="word-wrap: break-word;"><%= personer.address %></p>
        <br>

        <div align="center">

    <h4 style="padding: 10px; background-color:#241601; color:#fff; " >EDUCATION</h4>
    <% education.values.education.forEach(function(item) { %>
        <div style="padding-bottom: 1px;">
          <p><b><%= item.schoolName %></b></p>
      <p style="margin-top: 0px;"><i><%= item.fieldOfStudy %> </i></p>
      <p><%= item.startDate %> - <%= item.gradDate %></p>
      
        </div>
            
         <% }); %>
        
        
  </div>
  
      <h4 style="padding: 10px; background-color:#241601; color:#fff; " >SKILL</h4>
        

      </div>
      
  
        <div align="center">
          <p><%= quality.qualities %></p>
        </div>
      
      

  

  <br>
  
  




    </div>
    
  </div>
  <div class="column right" style="background-color:#241601;">
    <div align="center" style=" color: white;">

        <h2><%= personer.firstname + "  "+ personer.surname  %></h2>
       <p><%= personer.occupation.toUpperCase() %></p>
      

    </div>

    <br><br><br><br>

    <div>

        <table>
            <tr style="height: 20px;" >
              
              


              <td>
                
                  <h3>ABOUT ME </h3>
                  <p>
          <%= profiler.profile %>
        </p>

              </td>
              

            </tr>

          </table>
    </div>

    <div>
      

     <table>
            
          <tr style="height: 20px;" >
            <br>
              <td>
                
                  <h3 style=" width: 300px;">EXPERIENCE </h3>
                    <br>
                    <% experiences.values.work.forEach(function(item) { %>
              <div>

              <p id="font"> <b><%= item.position.toUpperCase() %></b></p>
              <p id="font" style="margin-top: 0px; float: right;"><b><%= item.jstartDate %> -   <%= item.jendDate %></b></p>
              <p id="font"> <b><%= item.employer %></b></p>

              <div id="font">
                      <%- item.jdescription  %>
                  </div>
            
            
          </div>
          <br>
         <% }); %>

                </td>
              

            </tr>

          </table>

    </div>

    <div>


      <table>
            <tr style="height: 20px;" >
              
              


              <td>
                <h3>REFERENCE</h3>

                <% reference.values.refree.forEach(function(item) { %>
      <div>
          <p><b><%= item.referent %>, <%= item.company %></b></p>
      <p style="margin-top: 0px;"><i><%= item.occupation %></i></p>
      <p style="margin-top: 0px;">Email: <%= item.email %></p>
        </div>



        <% }); %>



</div>
                
                

              </td>
              

            </tr>

          </table>
      


    </div>




  
  </div>
</div>



</body>
</html>