<html>
<head>
	<style type="text/css">
		
		* {
  box-sizing: border-box;
  color: white;
  font-family: Arial;
  margin: 0px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 150px; 
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

li,p,b,i{

	color:#333f4f;
}



	</style>


</head>
<body>
		<div class="row">
  <div class="column" style="background-color:#333f4f;">
  	<div style="justify-content: center; margin-top:20px;  ">

		<!----
				 		<h1><%= personer.firstname %></h1>
    <h1><%= personer.surname  %></h1>
		-->
 
  		

  	</div>
    
  
  </div>
  <div class="column" style="background-color:#333f4f;">
    <table>
    				<tr style="height: 50px;" >
						<td><b>Address </b></td>
						<!--
								<td style="padding: 10px; word-wrap: break-word;"> <%= personer.address %></td>

						-->
    					
    				</tr>

    				<tr>
						<td><b>Phone </b></td>
						<!---
						<td> <%= personer.phoneNumber  %> </td>
						-->
    					

    				</tr>

    				<tr>
						<td><b>Email </b></td>
						<!---
						<td> <%= personer.email %></td>
						-->
    					

    				</tr>

    			</table>


  </div>
</div>

<div style="margin-left:20px; margin-right:20px;  color:#333f4f;">
	<br>
	<h3 style="color:#333f4f; font-weight:900; ">Summary</h3>
	<hr>

	<p style="color:#333f4f; padding-top:10px; ">
			<!--
		<%= profiler.profile %> -->

	</p>

	<br>
	<h3 style="color:#333f4f; font-weight:900; ">Skills</h3>
	<hr>

		<!--
	 <p><%= quality.qualities %></p> -->

	<br><br>
	<h3 style="color:#333f4f; font-weight:900; ">Experience</h3>
	<hr>
	<br>
			<!---
		 <% experiences.values.work.forEach(function(item) { %>
		<div>

  			<p> <b><%= item.position %> , <%= item.employer %></b></p>
			<p style="margin-top: 0px;"> <%= item.jstartDate %> --------- <%= item.jendDate %></p>
			
			<div>
                        <%- item.jdescription  %>
            </div>

		</div>
		--->
		

	<br><br>
	<h3 style="color:#333f4f; font-weight:900; ">Education</h3>
	<hr>
	<br>
	<!---
			<% education.values.education.forEach(function(item) { %>
			<div>
  				<p><b><%= item.schoolName %></b></p>
			<p style="margin-top: 0px;"><i><%= item.fieldOfStudy %> </i></p>
			<p style="margin-top: 0px;"><b><%= item.startDate %> -- <%= item.gradDate %></b></p>
  			</div>
  			<br>
  			<% }); %>
  		-->

  	<br>
	<h3 style="color:#333f4f; font-weight:900; ">Reference</h3>
	<hr>
	<br>

	<!---
		 <% reference.values.refree.forEach(function(item) { %>
				<div>
  				<p><b><%= item.referent %>, <%= item.company %></b></p>
			<p style="margin-top: 0px;"><i><%= item.occupation %></i></p>
			<p style="margin-top: 0px;"><b>Tel: <%= item.phone %></b></p>
  			</div>

  			<% }); %>

  		-->



</div>

</body>
</html>