<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

.left {
  width: 13%;
}

.right {
  width: 87%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0px;
}
ul{
			display:inline-block;
			padding-right:20px;
	
		}
</style>
</head>
<body style="font-family:Arial; font-size:12px;">

<h1><%= personer.firstname + "  "+ personer.surname  %></h1>

<hr>

<!---CONTACTS--->
<div class="row">
  <div class="column left">
    <h4 style="background-color:#000; color:#FFF; width:45%;">CONTACT</h4>
  </div>
  <div class="column right">
  	<div style="float:right;">
    <p style="margin:0;"><b>Email:</b> &nbsp; <%= personer.email %></p>
    <p style="margin:0;"><b>Website:</b> &nbsp; https://github.com/ksekwamote</p>
    <p style="margin:0;"><b>Phone:</b> &nbsp; <%= personer.phoneNumber  %></p>
    </div>
  </div>
</div>

<!---OBJECTIVE--->
<div class="row">
  <div class="column left">
    <h4 style="background-color:#000; color:#FFF; width:45%;">OBJECTIVE</h4>
  </div>
  <div class="column right">
  	<div>
		<p><%= profiler.profile %></p>
    </div>
  </div>
</div>

<!---WORK EXPERIENCE--->
<div class="row">
  <div class="column left">
    <h4 style="background-color:#000; color:#FFF; width:45%;">WORK EXPERIENCE</h4>
  </div>
       <!------WORK----->
  <div class="column right">

  
          

 
     
              <% experiences.values.work.forEach(function(item) { %>

                <div class="column left" style="width:75%;">    		
                  <p><b> <%= item.employer %></b></p>
                  <p><%= item.position %></p>
          <ul style="margin-top:0px;">
                    <div>
                        <%- item.jdescription  %>
                    </div>
          </ul>     
          </div>
           <div class="column right" style="width:25%; float:right;">
              <p><b> <%= item.jstartDate %> --------- <%= item.jendDate %></b></p> 
           </div>


              <% }); %>
         
  </div>
  
 <!----------------QUALIFICATIONS--------------->
<div class="row">
  <div class="column left">
    <h4 style="background-color:#000; color:#FFF; width:45%;">QUALIFICATIONS</h4>
  </div>
  <div class="column right">	
	 <div id="C">	
    
            <p><%= quality.qualities %></p>

	 </div>
  		
  </div>
</div>

<!---------------EDUCATION----------------->
<div class="row">
  <div class="column left">
    <h4 style="background-color:#000; color:#FFF; width:45%;">EDUCATION</h4>
  </div>
       <!------WORK----->
  <div class="column right">

    <% education.values.education.forEach(function(item) { %>


      <div class="column left" style="width:70%;">    		
        <p><b><%= item.fieldOfStudy %></b></p>
        <p><%= item.schoolName %></p>
    
      </div>
      <div class="column right" style="width:30%; float:right;">
        <p><b><%= item.startDate %> -- <%= item.gradDate %></b></p> 
      </div>

      <% }); %>



<!------------REFERENCE------------>
<div class="row">
  <div class="column left">
    <h4 style="background-color:#000; color:#FFF; width:45%; margin:0;">REFERENCE</h4>
  </div>
  <div class="column right">
    <% reference.values.refree.forEach(function(item) { %>
      <div>

        <p style="margin:0;"><%= item.referent %> , <%= item.occupation %> at <%= item.company %></p>
            	<p style="margin:0;"><b>Email:&nbsp;</b> <%= item.email %></p>
            	<p style="margin:0;" ><b>Phone:&nbsp;</b> <%= item.phone %></p>
                
                	<br>

      </div>

      <% }); %>
  
  </div>
</div>


  
  
</div>     
               
  </div>
</div>


</body>
</html>

