<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		* {
  box-sizing: border-box;
  font-family: Arial;
 
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;

  height: 120px; /* Should be removed. Only for demonstration */
 
}

.left {
  width: 35%;
   padding-right: 35px;
}

.right {
  width: 65%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img.left{

	float: left;
	
	margin-top: -60px;
	margin-left: 30px;
}

.avatar {
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.heading {

	color: #259ceb
}



	</style>
</head>
<body>
  		

  		<div class="row">
  <div class="column left" style="background-color:#fff; color:#241601; ">
  	
  	<div  style="background-color: #bba689c9; height: 1100px;">
  		<br>

  		<div align="center">

  			<img src="kutlo.jpg" alt="Avatar" class="avatar">

  			<h3 style="padding: 10px; background-color:#241601; color:#fff; ">CONTACT</h2>
  			<p><b>Phone</b></p>
  			<p><%= personer.phoneNumber %></p>
  			<p><b>Email</b></p>
  			<p><%= personer.email %></p>
  			<p><b>Address</b></p>
  			<p><%= personer.address %></p>
  			<br>

  			<div align="center">

		<h3 style="padding: 10px; background-color:#241601; color:#fff; " >EDUCATION</h3>
		<% education.values.education.forEach(function(item) { %>
				<div style="padding-bottom: 1px;">
  				<p><b><%= item.schoolName %></b></p>
			<p style="margin-top: 0px;"><i><%= item.fieldOfStudy %> </i></p>
			<p><b><%= item.startDate %> - <%= item.gradDate %></b></p>
			
  			</div>
  					
  			 <% }); %>
  			
  			
	</div>
	
  		<h3 style="padding: 10px; background-color:#241601; color:#fff; " >SKILL</h3>
  			

  		</div>
  		
  
  			<div align="center">
  				<p><%= quality.qualities %></p>
  			</div>
  		
  		

	

	<br>
	
	




  	</div>
    
  </div>
  <div class="column right" style="background-color:#241601;">
  	<div align="center" style=" color: white;">

  		  <h2><%= personer.firstname + "  "+ personer.surname  %></h2>
   		 <p>SOFTWARE DEVELOPER</p>
  		

  	</div>

  	<br>

  	<div>

  			<table>
    				<tr style="height: 20px;" >
    					
    					


    					<td>
    						
    							<h2>ABOUT ME </h2>
    							<p>
  				<%= profiler.profile %>
  			</p>

    					</td>
    					

    				</tr>

    			</table>
  	</div>

  	<div>
  		

  		<table>
    				<tr style="height: 20px;" >
    					
    					


    					<td>
    						
    			<h2>EXPERIENCE </h2>
    			<% experiences.values.work.forEach(function(item) { %>
    					<div>

  			<p> <b><%= item.position.toUpperCase() %></b></p>
  			<p style="margin-top: 0px; float: right;"><b><%= item.jstartDate %> -   <%= item.jendDate %></b></p>
  			<p> <b><%= item.employer %></b></p>

  			<div>
                <%- item.jdescription  %>
            </div>
			
			
		</div>
				 <% }); %>
		

    					</td>
    					

    				</tr>

    			</table>


  	</div>

  	<div>


  		<table>
    				<tr style="height: 20px;" >
    					
    					


    					<td>
    						<h2>REFERENCE</h2>

    						<% reference.values.refree.forEach(function(item) { %>
			<div>
  				<p><b><%= item.referent %>, <%= item.company %></b></p>
			<p style="margin-top: 0px;"><i><%= item.occupation %></i></p>
			<p style="margin-top: 0px;">Email: <%= item.email %></p>
  			</div>



  			<% }); %>



</div>
    						
    						

    					</td>
    					

    				</tr>

    			</table>
  		


  	</div>




  
  </div>
</div>



</body>
</html>